- content_for(:title, t('.title', id: @admin_script.to_param))
- url = AdminScript::Engine.routes.url_helpers.admin_script_path(@admin_script)
= form_for @admin_script, url: url, as: :admin_script, method: 'patch', class: 'box' do |f|
  section.hero
    .hero-body
      .container
        h1.title
          = yield(:title)
        = simple_format f.object.description, { class: 'subtitle' }
  .box
    - template = @admin_script.model_name.element
    - if lookup_context.exists?(template, lookup_context.prefixes, true)
      = render template, f: f
    - else
      = render 'admin_script/admin_scripts/default_form', f: f
    .field
      .control
        = f.button t('.perform'), class: 'button is-primary', data: { confirm: t('.confirm') }
  .box
    pre= @admin_script.class.script
