doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta charset="UTF-8"
    meta content="no-referrer" name="referrer"
    meta content="width=device-width, initial-scale=1" name="viewport"
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    = stylesheet_link_tag 'admin_script/application', media: :all
    = javascript_include_tag 'admin_script/application'
    = csrf_meta_tags
    title= [yield(:title).presence].compact.join(' | ')
  body
    section.section
      .container.is-widescreen
        - { notice: 'is-success', alert: 'is-warning' }.each do |key, type|
          - if flash[key].present?
            div class=("notification #{type}")
              = flash[key]
        = yield
